<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a party in <b>apartment 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Happiness</div>
      <div class="item item-body">
        <div>
          You went to 5 parties this week
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> parties on the horizon.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
